header {
    background-color: #b2422d;
    display: flex;
    flex-direction: row;
    grid-column: auto;
    border: 1px solid #b2422d;
    border-radius: 20px;
}
h1 {
    color: white;
}
img{
    padding: 5px;
    width: 150px;
    height: 150px;
    align-content: space-around;
}
body  {
    background-color: #fef0e1;
}
a {
    color: #b2422d;
    text-decoration: none;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button {
    background-color: white;
    border: 2px solid #b2422d;
    border-radius: 30px;
    height: 50px;
    width: 550px;
    margin-right: 400px;
    margin-left: 400px;
}
